/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/** взято с github.com */

@font-face {
    font-family: 'Octicons Regular';
    src: url(github_webfont.eot);
    src: url(github_webfont_ie.eot) format("embedded-opentype"),
         url(github_webfont.woff) format("woff"),
         url(github_webfont.ttf) format("truetype"),
         url(github_webfont.svg) format("svg");
    font-weight: normal;
    font-style: normal
}

.mini-icon, .mega-icon {
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    text-decoration: none;
}

.mini-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
}

.mega-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
}


.mini-icon-octocat:before {
    content: "\f008";
}
.mini-icon-public-repo:before {
    content: "\f001";
}
.mini-icon-time:before {
    content: "\f046";
}
.mini-icon-link:before {
    content: "\f05c";
}
.mini-icon-location:before {
    content: "\f060";
}

.mega-icon-public-repo:before {
    content: "\f201";
}
/** end */

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

label {
    color: #f9f9f9;
}


.popup {
    position: absolute;
    overflow: hidden;
    z-index: 10;
}

#controls {
    left: -1px;
    top: -1px;
    z-index: 11;
    padding: 5px;
    vertical-align: middle;
}

#controls {
    border-radius: 0 0 3px 0;
}

#controls input,
#controls button,
#controls label {
    display: inline-block;
}

input[type=text],
input[type=number] {
    border: 1px solid #b9b9b9;
    display: block;
    padding: 5px;
    font-size: 14px;
    margin: 0;
    outline: 0;
}

input[type=text]:hover,
input[type=number]:hover,
input[type=text]:focus,
input[type=number]:focus {
    border-color: #000;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

#controls input {
    font-family: sans-serif;
    font-weight: bolder;
}

#console {
    bottom: 0;
    left: 0;
    z-index: 100;
}

/* progress bar */

.meter {
    overflow: hidden;
    position: relative;
    background: #555;
    padding: 10px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
    display: block;
    background-color: rgb(43, 194, 83);
    /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(43, 194, 83)), color-stop(1, rgb(84, 240, 84)));
    background-image: -moz-linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);*/
    -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    min-height: 10px
}

.orange > span {
    background-color: #f1a165;
    background: rgb(241,161,101);
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxYTE2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMzZkMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(241,161,101,1) 0%, rgba(243,109,10,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,161,101,1)), color-stop(100%,rgba(243,109,10,1)));
    background: -webkit-linear-gradient(top,  rgba(241,161,101,1) 0%,rgba(243,109,10,1) 100%);
    background: -o-linear-gradient(top,  rgba(241,161,101,1) 0%,rgba(243,109,10,1) 100%);
    background: -ms-linear-gradient(top,  rgba(241,161,101,1) 0%,rgba(243,109,10,1) 100%);
    background: linear-gradient(to bottom,  rgba(241,161,101,1) 0%,rgba(243,109,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1a165', endColorstr='#f36d0a',GradientType=0 );*/
}

.red > span {
    background-color: #f0a3a3;
    /*background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0a3a3), color-stop(1, #f42323));
    background-image: -webkit-linear-gradient(#f0a3a3, #f42323);*/
}

.progressBar {
    font-size: 11px;
    width: 100%;
}

.progressBar .meter {
    margin: 0;
    padding: 1px;
}

/*.progressBar .meter > span*/
#progressBar {
    text-align: right;
    vertical-align: middle;
    color: white;
    text-shadow: 0 1px 1px black;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* end progress bar */

#statusBar {
    bottom: 0;
    left: 0;

    z-index: 12;
    width: 100%;
    position: fixed;

    border: 0;
    border-top: 1px solid #CACACA;

    background: rgb(239,239,239);
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQxJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYWNhY2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(221,221,221,1) 41%, rgba(202,202,202,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(41%,rgba(221,221,221,1)), color-stop(100%,rgba(202,202,202,1)));
    background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(221,221,221,1) 41%,rgba(202,202,202,1) 100%);
    background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(221,221,221,1) 41%,rgba(202,202,202,1) 100%);
    background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(221,221,221,1) 41%,rgba(202,202,202,1) 100%);
    background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(221,221,221,1) 41%,rgba(202,202,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cacaca',GradientType=0 );*/
}


#statusBar ul {
    padding: 2px 3px;
    overflow: hidden;
    margin: 0;
    list-style: none;
}

#statusBar li {
    display: block;
    vertical-align: middle;
    float: left;
    margin-right: 2px;
    border: 0;
    border-right: 1px solid #444;
}

#statusBar li:last-child {
    margin-right: 0;
    border-right: 0;
}

#canvas,
svg {
    position: relative;
    width: 100%;
    height: 100%;
    background: #15284B;
}

.axis text {
    font: 10px sans-serif;
    fill: #ccc;
}

.axis line,
.axis path {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

#ldrCont {
    z-index: 100;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

#ldrCont > img {
    display: inline-block;
    position:relative;
    top:50%;
    width: 48px;
    height: auto;
}

.lineFiles {
    fill: none;
    shape-rendering: crispEdges;
    stroke-width: 2px;
}

.lineFiles .M {
    stroke: rgba(255, 184, 119, .5);
}

.lineFiles .A {
    stroke: rgba(165, 236, 110, .5);
}

.lineFiles .D {
    stroke: rgba(255, 119, 255, .5);
}

.cRepo {
    cursor: pointer;
}

.cRepo text {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.cRepo:hover text {
    text-shadow: 0 1px 2px rgba(255, 255, 255, 1);
}

.tooltip {
    color: #f9f9f9;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background: rgba(110, 130, 163, 0.7);
    border: 1px dotted #8D9DB6;
    padding: 5px;
    border-radius: 3px;
}

#tooltip {
    z-index: 50;
    display: none;
    max-width: 25%;
    pointer-events: none;
}

/* http://xbreaker.github.com/plusstrap/base-css.html#buttons */
.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0px 8px;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 11px;
    line-height: 22px;
    *line-height: 22px;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
    border-color: #e4e4e4;
    *background-color: #f1f1f1;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid rgba(0, 0, 0, 0.1);
    *border: 0;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    *margin-left: .3em;
}
.btn:not(.active):hover {
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #f9f9f9, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #eeeeee);
    background-image: -o-linear-gradient(top, #f9f9f9, #eeeeee);
    background-image: linear-gradient(to bottom, #f9f9f9, #eeeeee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffeeeeee', GradientType=0);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    color: #333333;
    background-color: #eeeeee;
    *background-color: #e4e4e4;
    -webkit-box-shadow: 0 1px 0px #dedede;
    -moz-box-shadow: 0 1px 0px #dedede;
    box-shadow: 0 1px 0px #dedede;
    border-color: #cbcbcb;
}
.btn:active,
.btn.active {
    background-color: #d8d8d8 \9;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
}
.btn:first-child {
    *margin-left: 0;
}
.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn.active,
.btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
}
.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/** end **/

#controls .btn {
    padding: 2px 8px;
    margin: 0;
}

.row {
    display: block;
    max-width: 100%;
}

#divStat img {
    float: left;
    margin: 0 0 0 0;

    padding: 1px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

#divStat ul {
    overflow: hidden;
    padding: 0;
    list-style: none;
}

#divStat li {
    color: #ccc;
}

hr {
    margin: 5px 0;
}

#divStat li strong,
#divStat li a {
    margin-left: 5px;
}

#divStat li strong, #divStat h1 {
    color: #f9f9f9;
}

#divStat .a-icon {
    text-decoration: none;
    color: rgba(172, 213, 229, 1);
}

#divStat a {
    color: rgba(172, 213, 229, 1);
}
#divStat .a-icon:hover,
#divStat a:hover {
    color: rgba(221, 246, 255, 1);
}

#curRep {
    vertical-align: middle;
}

#curRep .mega-icon {
    font-size: 24px;
    width: 24px;
    height: inherit;
    position: relative;
}

#curRep .mega-icon-public-repo:before {
    position: absolute;
    top: -16px;
}

#userInfo {
    right: -2px;
    top: -2px;
    padding: 7px 7px 5px 5px;
    z-index: 52;
}

#userInfo ul {
    white-space: nowrap;

    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;

    max-width: 0;
    max-height: 0;
}

#userInfo img {
    -webkit-transition: all .5s ease-in-out .4s;
    -moz-transition: all .5s ease-in-out .4s;
    -o-transition: all .5s ease-in-out .4s;
    transition: all .5s ease-in-out .4s;

    width : 48px;
    height : auto;
}

#userInfo.open img,
#userInfo:hover img {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

    margin-right: 10px;
    width : 96px;
    height : auto;
}

#userInfo.open ul,
#userInfo:hover ul {
    -webkit-transition: all .5s ease-in-out .5s;
    -moz-transition: all .5s ease-in-out .5s;
    -o-transition: all .5s ease-in-out .5s;
    transition: all .5s ease-in-out .5s;

    max-width: 960px;
    max-height: 1280px;
}
/** stepbar */

/*.steps {
    list-style: none;

    padding: 2px;
    margin: 0;
    border: 1px solid white;
}

.steps li {
    display: inline-block;
    position: relative;
    padding-right: 1em;
}

.steps li:first-child {
    display: inline-block;
}

.steps li:after {
    border: 1em solid transparent;
    width: 0;
    height: 0;
    content: "";
    display: inline-block;
    border-left-color: #ffffff;
    top: -2px;
    position: absolute;
    right: -1.2em;
    z-index: 1;
}

.steps li:before {
    border: 1em solid transparent;
    width: 0;
    height: 0;
    content: "";
    display: inline-block;
    border-left-color: #ff0000;
    top: -2px;
    position: absolute;
    right: -1.1em;
    z-index: 2;
}*/

.steps {
    list-style: none;

    margin: 0;
}

.steps li {
    display: inline-block;
    position: relative;
    padding: 4px;
    border: 1px solid white;
    margin-right: 1em;
    border-width: 1px 0;
    background: #536788;
    padding-right: 2px;
    margin-left: -20px;
    padding-left: 24px;
}

.steps li:first-child {
    display: inline-block;
    border-radius: 5px 0 0 5px;
    border-left-width: 1px;
    margin-left: 0;
    padding-left: 4px;
}

.steps li:after,
.steps li:before {
    width: 0;
    height: 0;
    content: "";
    display: inline-block;
    position: absolute;
}

.steps li:after {
    border: 1.245em solid transparent;
    border-left-color: #ffffff;
    top: -.05em;
    right: -2.35em;
    z-index: 0;
}

.steps li:before {
    border: 1.1em solid transparent;
    border-left-color: #536788;
    top: .05em;
    right: -2.1em;
    z-index: 1;
}

.steps.sfirst li:not(.first) {
    border-color: #ccc;
    background: #858689;
}

.steps.sfirst li:not(.first):after {
    border-left-color: #ccc;
}

.steps.sfirst li:not(.first):before {
    border-left-color: #858689;
}

.steps.ssecond li.third {
    border-color: #ccc;
    background: #858689;
}

.steps.ssecond li.third:after {
    border-left-color: #ccc;
}

.steps.ssecond li.third:before {
    border-left-color: #858689;
}

/** end stepbar */